* { margin: 0; padding: 0; }

html, body { height: 100%; }

:root{
    --main1: hsla(210, 65%, 8%);
    --dark: hsla(210, 90%, 5%);
    --light: hsla(210, 20%, 70%);
    --accent: hsla(100, 10%, 10%);
    --fade: hsla(100, 10%, 10%, .2);

    --light-font: hsl(217, 15%, 75%);
    --dark-font: hsla(100, 10%, 10%);
}

.page{
    box-sizing: border-box;
    height: 100%;
    padding: 24px;
    gap: 48px;

    background-color: var(--dark);
}

#start-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    button{
        font-size: 2rem;
    }
}


/* general elements */
.form{
    display: flex;
    flex-flow: column;
    gap: 8px;
}
.form-question{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.form-question-label{
    font-size: 2rem;
}
.form-question-input-text{
    height: 2.5rem;

    font-size: 2rem;
    text-align: center;

    background-color: var(--main1);
    border: 1px solid var(--light);
}
button{

}

/* helper classes */

.hidden{ display: none; }

.light-font { color: var(--light-font); }
.dark-font { color: var(--dark-font); }