* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { overflow: hidden;}

:root{
    --main1: hsla(210, 65%, 8%);
    --dark: hsla(210, 90%, 5%);
    --light: hsla(210, 20%, 70%);
    --accent: hsl(210, 55%, 60%);
    --fade: hsla(100, 10%, 10%, .2);

    --light-font: hsl(217, 15%, 75%);
    --dark-font: hsla(100, 10%, 10%);
}

.page{
    box-sizing: border-box;
    height: 100%;
    border: 6px dashed var(--light);
    padding: 24px;
    gap: 48px;

    background-color: var(--dark);
}

#start-page{
    transition: 
        height 1s ease-in-out,
        padding 1s ease-in-out,
        border-width .5s ease-in-out .4s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow: hidden;

    button{
        font-size: 2rem;
    }
}


/* general elements */
.form{
    display: flex;
    flex-flow: column;
    gap: 8px;
    max-width: 100%;
}
.form-question{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.form-question-label{
    font-size: 2rem;
}
.form-question-input-text{
    max-width: 100%;
    height: 2.5rem;

    font-size: 2rem;
    text-align: center;

    background-color: var(--main1);
    border: 1px solid var(--light);

}
@media (max-width: 420px) {
    .form-question-input-text{
        font-size: 1.4rem;
    }
}
@media (max-width: 720px) {
    .form-question{
        flex-flow: column;
        align-items: center;

    }
}
button{

}

/* helper classes */

.hidden{
    height: 0;
    padding: 0;
    border-width: 0;
}

.light-font { color: var(--light-font); }
.dark-font { color: var(--dark-font); }